/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans&display=swap");
* {
  font-family: "Inconsolata", monospace;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Rajdhani&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap");

* {
  font-family: "Abel", sans-serif;
  letter-spacing: 0.1rem;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}
