.about-us {
	background-color: black;
	color: white;
}

.image-holder {
	display: flex;
	justify-content: space-around;
}

.services-holder {
	display: flex;
	justify-content: space-around;
}

.content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.intro {
	color: #f1803a;
}

.icon {
	display: block;
	font-size: 2.5rem;
	text-align: center;
	color: #f1803a;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.title {
	margin: 0.5rem 0rem;
}

@media only screen and (max-device-width: 768px) {
	.image-holder {
		display: none;
	}

	.image {
		display: none;
	}

	.about-us {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem 0rem;
	}

	.icon {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.title {
		margin: 1rem 0rem;
	}
}
