.image {
  padding: 0rem;
}

.content-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials {
  /* background-color: black; */
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}

.review {
  /* color: white; */
  text-align: center;
}

.reviewContent {
  font-size: 1.5rem;
}

.star {
  color: gold;
}

.review-name {
  padding-top: 1rem;
  font-size: 1.2rem;
  margin: 0rem;
}

.cirlce-holder {
  text-align: center;
}

.circle {
  color: rgb(0, 0, 0);
  margin: 0rem 0.5rem;
}

.slider-holder {
  margin: 1rem 0rem;
  background-color: black;
  padding: 2rem 1rem;
}
