.row {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.slider {
  margin-bottom: 2rem;
}

.swipe {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}



.slider-holder, .mobile-slider, .desktopSlider {
  padding: 0rem 2rem; 
}



@media only screen and (max-device-width: 576px) {
  .desktopSlider {
  display: none;

  }

  
  
}
@media only screen and (min-device-width: 577px)  {

  .desktopSlider {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
    }

.mobile-slider{display:none}

  /* .slider-holder-two {
    display: flex;
    justify-content: center;
    }
  .slider-holder-three {
    display: none;
    } */
  
}
