.row {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.slider {
  margin-bottom: 2rem;
}

.swipe {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

.slider-holder {
  padding: 0rem 2rem;
}
